* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  font-family: sans-serif;
  line-height: 1.6em;
  width: 825px;
  margin: 0 auto;
}
.product {
  border: black solid 3px;
  position: relative;
}
h2 {
  font-size: 25px;
  text-transform: uppercase;
  background-color: darkgray;
  text-align: center;
  padding: 10px;
}
.price {
  font-size: 22px;
  font-weight: bold;
}
.shipping {
  color: rgba(222, 184, 135, 0.582);
}
a:link {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
  color: red;
  font-style: italic;
}
.more-info:link {
  text-decoration: underline;
  display: block;
  margin: 7px 0;
}
.sale {
  background-color: red;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  padding: 5px;
  position: absolute;
  top: -15px;
  left: -25px;
}
.colors {
  display: flex;
  gap: 10px;
  margin: 12px 0;
}
.color1 {
  width: 20px;
  height: 20px;
  background-color: violet;
}
.color2 {
  width: 20px;
  height: 20px;
  background-color: black;
}
.color3 {
  width: 20px;
  height: 20px;
  background-color: blue;
}
.color4 {
  width: 20px;
  height: 20px;
  background-color: brown;
}

.color5 {
  width: 20px;
  height: 20px;
  background-color: green;
}
.color6 {
  width: 20px;
  height: 20px;
  background-color: coral;
}
.product-details {
  font-size: 18px;
  text-transform: uppercase;
  /* margin-top: 30px; */
}
.product-des {
  /* clear: both; */
  margin-bottom: 10px;
  padding-top: 10px;
}
.product-list {
  margin-left: 22px;
  list-style: square;
  margin-bottom: 10px;
}
.add-cart {
  font-size: 22px;
  text-transform: uppercase;
  border: 2px solid black;
  width: 100%;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 5px;
}
.add-cart:hover {
  background-color: white;
  color: #000;
}
/* how we got 243 for the width and 40 for the marhin
825-250- 40-  */

/* .first {
  float: left;
  width: 243px;
  margin-right: 40px;
  margin-top: 20px;
}
.second {
  float: left;
  width: 243px;
  margin-top: 20px;
}
.product-img {
  float: left;
  margin-right: 40px; 
}*/
.pands {
  display: flex;
  justify-content: space-between;
  margin: 7px 0;
  align-items: center;
}
.container {
  display: flex;
  gap: 35px;
}
.first {
  flex: 1;
  /* flex: 0 0 243px; */
  margin-top: 30px;
}
.second {
  flex: 1;
  /* flex: 0 0 243px; */
  margin-top: 30px;
}
